* {
    box-sizing: border-box;
    }
  #header-img{
    display:flex;
    width:100vh;
    
  }
  
  p{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
  }
  
  .nav-link{
    background:white;
    display:grid;
    font-size: 3rem;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  
  nav{
    position:fixed;
    top:0;
    left:0;
  }
  
  @media only screen and (max-width: 720px){
    .nav-link{
      font-size: 4rem;
    }
  }
  