:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}
* {
  margin: 0;
  padding: 0;
}
html{
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}
  
  nav{
    display: flex;
    justify-content: flex-end;
    
    width: 100%;
    position:fixed;
    top:0;
    left: 0;
    background: var(--main-red);
    color: var(--main-white);
    z-index: 10;
  }
.nav-list{
  display: flex;
  margin-right: 2rem;
  list-style: none;
}

.nav-list a{
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--main-blue);
}

  body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
  }

  a {
    text-decoration: none;
    color: var(--main-white);
  }
  

  #welcome-section{
    background:rgb(20, 30, 40);
    display: flex;
    flex-direction: column;
    width:100%;
    height:100vw;
    position:relative;
    align-items: center;
  }
  #name-intro{
    margin-top:100px;
    color:var(--main-white);
    text-align:center;
    font-size:64px;
  
  }



  #web-developer{
    color:red;
    text-align:center;
  }


  